#experince {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    a {
        width: 30%;
        text-decoration: none;
        color: black;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 30%;
        transition: .25s ease-in-out;
        filter: grayscale(1);
        color: rgba(0, 0, 0, 0.6);
        &:hover {
            background-size: 38%; 
            filter: none;
            color: black;
        }
        &.docx {
            background-image: url(/img/docx.svg);
        }
        &.adobe {
            background-image: url(/img/adobe.svg);
        }
        p {
            text-align: center;
            padding: 0 10%;
            font-size: 1.3em;
        }
    }
}