.head_div {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    background: #F6F6F6;
}

.head_block {
    min-height: 150px;
    min-width: 200px;
    padding: 5px;
    font-size: 1.35em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 5px solid #F6F6F6;
    cursor: pointer;
    .block_name:hover p {
        opacity: 0;
    }
    &:nth-child(1) {
        width: 50%;
        .block_name .for_bg {
            background-image: url(../img/events.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            transition: background-position 5s linear, filter .35s linear;
            &:hover {
                background-position: 50% 100%;
                transition: background-position 25s linear, filter .35s linear;
            }
        }
    }
    &:nth-child(2) {
        width: 50%;
        .block_name .for_bg {
            background-image: url(../img/news.jpg);
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                background-size: 100%;
            }
        }
    }
    &:nth-child(3) {
        width: 30%;
        .block_name .for_bg {
            background-image: url(../img/staff1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0%;
        }
    }
    &:nth-child(4) {
        width: 40%;
        .block_name .for_bg {
            background-image: url(../img/name.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &:nth-child(5) {
        width: 30%;
        .block_name .for_bg {
            background-image: url(../img/contacts.png);
            background-size: 110%;
            background-repeat: no-repeat;
            background-position: 50%;
            transition: .25s ease-in-out;
            &:hover {
                transition: 1s ease-in-out;
                background-size: 70%;
            }
        }
    }
    &:nth-child(6) {
        width: 50%;
        .block_name .for_bg {
            background-image: url(../img/experience.jpg);
            background-size: 105%;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                background-size: 65%;
                transition: 1s ease-in-out;
            }
        }
    }
    &:nth-child(7) {
        width: 50%;
        .block_name .for_bg {
            background-image: url(../img/documents.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50% 5%;
            transition: 1s ease-in-out;
            &:hover {
                background-position: 50% 100%;
                background-size: 50%;
            }
        }
    }
}

.block_name {
    width: 100%;
    height: 100%;
    position: relative;
    .for_bg {
        width: 100%;
        height: 100%;
        filter: grayscale(.75) opacity(0.25);
        transition: all .35s ease-in-out;
        &:hover {
            filter: grayscale(0) opacity(1);
        }
    }
    p {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: .3s linear;
        font-family: 'Roboto Slab', serif;
    }
}